dbdata
.idea/
files/

# outputs
outputs/

# External repos / local DB setup
northwind_psql/

#
**docs/
**logs/
**test/

database/northwind.sql

# macOS
.DS_Store
**/.DS_Store

# personal
PROJECT_README.md
docs/dictionary
docs/_fixes