# macOS
.DS_Store
**/.DS_Store

# python
.venv/
__pycache__/
*.pyc

# postgres
dbdata
.idea/
files/

# External repos / local DB setup
database/northwind.sql
northwind_psql/

#
docs/
test/*.csv
test/*.out

# personal
PROJECT_README.md
docs/dictionary
docs/_fixes

# outputs (generated)
outputs/
reports/figures/

# notebooks
.ipynb_checkpoints/

# postgres / temp
*.log
*.tmp